/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.type-dark {
  background-color: #242424;
  color: #cd0303;
}

.type-fiend {
  background-color: #470247;
  color: #c99dff;
}
